<div class="left side-menu">
    <mat-nav-list>
        <div class="logo">
            <img src="../../assets/images/OCEANUS LOGO.png" alt="Company Logo" />
        </div>
     

        <div class="sidebar-inner slimscrollleft" id="sidebar-main">
          
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="dashboard">
                        <mat-panel-title>
                            <a routerLink="/views/dashboard"> <mat-icon>dashboard</mat-icon> <span style="margin-top:2px; float:right; padding-left:3px;">Dashboards</span></a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="dashboard">
                        <mat-panel-title>
                            <a routerLink="/views/systemadmin">  <mat-icon>layers</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;"> System Admin </span></a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="dashboard">
                        <mat-panel-title>
                            <a routerLink="/views/masters/commonmaster">  <mat-icon>layers</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;">   Common Masters</span></a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="dashboard">
                        <mat-panel-title>
                            <a routerLink="">  <mat-icon>layers</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;">    Liner Agency</span></a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="dashboard">
                        <mat-panel-title>
                            <a routerLink="">  <mat-icon>layers</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;">  Freight Forwarding</span></a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="dashboard">
                        <mat-panel-title>
                            <a routerLink="">  <mat-icon>layers</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;">   Finance</span></a>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                </mat-expansion-panel>



                <!--<mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>settings</mat-icon>  <span style="margin-top: 2px; float: right; padding-left: 3px;">Admin</span>
    </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem" routerLink="administration/systemmaster">System</mat-list-item>
                            <mat-list-item role="listitem" routerLink="administration/orgstruct">Org Structure</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>-->
                <!--<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>layers</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;"> Master Data</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
        <mat-list-item role="listitem" routerLink="masters/commonmaster">Common Master</mat-list-item>-->
                <!--<mat-list-item role="listitem" routerLink="masters/LAmaster">LA Master</mat-list-item>-->
                <!--</mat-list>
    </mat-expansion-panel>-->
                <!--<mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="dashboard">
            <mat-panel-title>
                <a [routerLink]="['/views/ladashboards/laworkspace/laworkspace']"> <mat-icon>width_normal</mat-icon> <span style="margin-top: 2px; float: right; padding-left: 3px;">Liner Agency</span></a>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>-->



            </mat-accordion>
        
            </div>


</mat-nav-list>
</div>