
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 card dashbox">
                <div class="card-body">
                    <p>Empty Out</p>
                    <h5>17</h5>
                    <div class="col-md-12 cardwrapper">
                        <mat-icon _ngcontent-syc-c119="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">dvr</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 card dashbox">
                <div class="card-body">
                    <p>Port In</p>
                    <h5>17</h5>
                    <div class="col-md-12 cardwrapperorange">
                        <mat-icon _ngcontent-syc-c119="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">dvr</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 card dashbox">
                <div class="card-body">
                    <p>Transit</p>
                    <h5>17</h5>
                    <div class="col-md-12 cardwrapperpurple">
                        <mat-icon _ngcontent-syc-c119="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">dvr</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 card dashbox">
                <div class="card-body">
                    <p>Discharge</p>
                    <h5>17</h5>
                    <div class="col-md-12 cardwrapperblue">
                        <mat-icon _ngcontent-syc-c119="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">dvr</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>