

<!--<div id="wrapper">
    <div id="overlay" style="display:none;">
        <div class="spinner"></div>

        <br />
        Loading...
    </div>
    <button (click)="OnsubmitOverlay()" type="button">Click</button>-->
    <!--<app-sidenav style="margin-top:50px;">-->
<div id="wrapper">
    <app-sidenav>
    </app-sidenav>

    <div class="content-page">

        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper dashborad-v">
                <router-outlet>

                </router-outlet>

            </div>

        </div>

    </div>
</div>
