<div class="row headtitle rotle">
    <div class="col-md-9">
        <h4>Currency Master</h4>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 alrt">
        <button type="button" class="btn btn-success btntop btn-raised bmd-btn-edit" [routerLink]="['/views/masters/commonmaster/currency/currency']"><i class="material-icons editicon">add</i><div class="ripple-container"></div></button>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="card m-b-30">
            <div class="card-body leftcard">
                <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-md-12 master">
                            <table id="datatable-buttons" class="table table-responsive table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                                <thead>
                                    <tr role="row">
                                        <th class="actwid" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 177.575px;">
                                            S.No
                                        </th>
                                        <th>
                                            Currency Code
                                        </th>
                                        <th>
                                            Currency Name
                                        </th>
                                        <th>
                                            Country
                                        </th>
                                        <th class="actwid">
                                            Active
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr *ngFor="let dataItem of pagedItems ;
                                        let i = index" (mouseover)="highlightRow(dataItem)"
                                        [ngClass]="{'highlight' : dataItem.StateCode == selectedName}">
                                        <td> {{ i + 1*pager.startIndex+1 }}</td>
                                        <td class="alc"> <button class="btn btn-success bmd-btn-fab enqbtn" [routerLink]="['/views/masters/commonmaster/currency/currency']" [queryParams]="{id: dataItem.ID}" queryParamsHandling="merge">{{dataItem.CurrencyCode}} </button></td>
                                        <td>{{dataItem.CurrencyName}}</td>
                                        <td>{{dataItem.Country}}</td>
                                        <td>{{dataItem.StatusResult}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row page" align="right">


                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{'pag-disable':pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{'pag-disable':pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                <a (click)="setPage(pager.startPage + 5)">...</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                            </li>

                            <li [ngClass]="{'pag-disable':pager.endIndex + 1 === pager.totalItems}">
                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{'pag-disable':pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-md-3 col-sm-3 col-lg-3 col-xl-3">
        <form [formGroup]="searchForm">
            <div class="card m-b-30 sidesearch">
                <div class="card-body cpad">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <div class="form-group bmd-form-group">
                                <input type="text" autocomplete="off" formControlName="CurrencyCode" class="form-control" placeholder="Currency Code">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <div class="form-group bmd-form-group">
                                <input type="text" autocomplete="off" formControlName="CurrencyName" class="form-control" placeholder="Currency Name">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <div class="form-group bmd-form-group">
                                <select name="Country" id="ddlCountryv" formControlName="CountryID" class="form-control my-select">
                                    <option value="0">Country</option>
                                    <option *ngFor="let gRow of dscountryItem" [value]="gRow.ID">
                                        {{gRow.Country}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                            <div class="form-group bmd-form-group">
                                <select class="form-control my-select" id="ddlStatusv" formControlName="Status">
                                    <option value="0">Active</option>
                                    <option *ngFor="let status of statusvalues" [value]="status.value">
                                        {{status.viewValue}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 searchbtn alrt">
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-raised mb-0">Search<div class="ripple-container"></div></button>
                            <button type="submit" (click)="clearSearch()" class="btn btn-raised btn-danger mb-0">Clear<div class="ripple-container"></div></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

