<div class="topbar">

    <nav class="navbar-custom">
        <ul class="list-inline float-left mb-0 mr-3">

            <li class="list-inline-item">
                <a class="nav-link nav-user">
                  Odak Solutions Pvt Ltd
                </a>
                </li>
        </ul>
        <ul class="list-inline float-right mb-0 mr-3">
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                   aria-expanded="false">
                   Welcome Admin <i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    
                   
                    <a class="dropdown-item" href="#">
                        <i class="mdi mdi-logout m-r-5 text-muted"></i> Logout
                    </a>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>

        <div class="clearfix"></div>

    </nav>

</div>

<!--<mat-toolbar class="mat-primary">
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <button mat-button
                            [matMenuTriggerFor]="menu"
                            class="user mt-2 d-flex align-items-center">-->
                        <!--<img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />-->
                        <!--User Name
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>-->