<div class="row headtitle">
    <div class="col-md-9 col-sm-9 col-lg-9 col-xl-9">
        <h4> Common Masters</h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Countries</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/country/countryview1']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i> Country
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/statemaster/statemasterview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i> State
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/city/cityview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i> City
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/currency/currencyview/currencyview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i> Currency
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Ports</div>
                    <div class="panel-body">

                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/port/portview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i>  Port (Sea, Air and ICD)
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/terminal/terminalview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Terminal </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/shipmentlocations/shipmentlocationsview/shipmentlocationsview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Shipment Locations </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">Commodity</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/commodity/commodityview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  Commodity</button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/cargopackage/cargopackageview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i>  Package Type
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/contypemaster/contypemasterview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i>  Container Type
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/hazardousclass/hazardousclassview/hazardousclassview']" style="font-size: 14px; color: blue">
                                <i class="fa fa-angle-double-right"></i>  Hazardous Classes
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-4 panelbox">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        UOM
                    </div>
                    <div class="panel-body">

                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" style="font-size: 14px; color: blue" [routerLink]="['/views/masters/commonmaster/uommaster/uommasterview']">
                                <i class="fa fa-angle-double-right"></i>
                                Unit of Measure
                            </button>
                            <div style="border-bottom: dashed 1px;"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-link" [routerLink]="['/views/masters/commonmaster/uomconversions/uomconversionsview/uomconversionsview']" style="font-size: 14px; color: blue"><i class="fa fa-angle-double-right"></i>  UOM Conversions </button>

                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>