<!--<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_er1ktu3i.json" background="transparent" speed="1" loop autoplay style="position:relative;">
</lottie-player>-->
<!--<div id="wrapper">
    <app-sidenav></app-sidenav>

    <div class="content-page">

        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper dashborad-v">
                <router-outlet></router-outlet>

            </div>

        </div>

    </div>
</div>-->
<!--<div id="wrapper">
    <app-sidenav></app-sidenav>

    <div class="content-page">

        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper dashborad-v">
                <router-outlet></router-outlet>

            </div>

        </div>

    </div>
</div>-->

