<div class="row headtitle rotle">
    <div class="col-md-9">
        <h4>City Master</h4>
    </div>
    <div class="col-md-3 alrt">
        <button type="button" class="btn btn-success bmd-btn-edit btn-raised btntop" [routerLink]="['/views/masters/commonmaster/city/city']"><i class="material-icons editicon">add</i><div class="ripple-container"></div></button>
    </div>
</div>


<div class="row">
    <div class="col-9">
        <div class="card m-b-30">
            <div class="card-body leftcard">

                <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-sm-12 master">
                            <table id="datatable-buttons" class="table table-responsive table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                                <thead>
                                    <tr>
                                        <th class="actwid">S.No</th>
                                        <th>City Code</th>
                                        <th>City Name</th>
                                        <th>Country Code</th>
                                        <th class="actwid">Active</th>
                                        <!--<th class="actwid">Action</th>-->
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr *ngFor="let dataItem of pagedItems ;
                                        let i = index" (mouseover)="highlightRow(dataItem)"
                                        [ngClass]="{'highlight' : dataItem.CountryCode == selectedName}">
                                        <td> {{ i + 1*pager.startIndex+1 }}</td>
                                        <td class="alc"> <button class="btn btn-success bmd-btn-fab enqbtn" [routerLink]="['/views/masters/commonmaster/city/city']" [queryParams]="{id: dataItem.ID}" queryParamsHandling="merge">{{dataItem.CityCode}}</button></td>
                                        <td>{{dataItem.CityName}}</td>
                                        <td>{{dataItem.CountryCode}}</td>
                                        <td>{{dataItem.StatusResult}}</td>
                                        <!--<td class="alc">
                            <button class="btn btn-success bmd-btn-fab" [routerLink]="['/views/masters/commonmaster/city/city']" [queryParams]="{id: dataItem.ID}" queryParamsHandling="merge">
                                <i class="material-icons">edit</i>
                            </button>
                        </td>-->
                                    </tr>

                                </tbody>
                                <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
                            </table>

                        </div>
                    </div>
                    <div class="row page" align="right">


                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{'pag-disable':pager.currentPage === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{'pag-disable':pager.currentPage === 1}">
                                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5 ">
                                <a (click)="setPage(pager.startPage + 5)">...</a>
                            </li>
                            <li *ngIf="(pager.totalPages - pager.startPage) > 5">
                                <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                            </li>

                            <li [ngClass]="{'pag-disable':pager.endIndex + 1 === pager.totalItems}">
                                <a (click)="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{'pag-disable':pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <form [formGroup]="searchForm">
            <div class="card m-b-30 sidesearch">
                <div class="card-body cpad">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">

                                <input type="text" autocomplete="off" name="cityCode" formControlName="CityCode" class="form-control" placeholder="City Code">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <input type="text" autocomplete="off" name="cityName" formControlName="CityName" class="form-control" placeholder="City Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <input type="text" autocomplete="off" name="countrycode" formControlName="CountryCode" class="form-control" placeholder="Country Code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <select class="form-control my-select" id="ddlStatusv" formControlName="Status">
                                    <option value="0">Active</option>
                                    <option *ngFor="let status of statusvalues" [value]="status.value">
                                        {{status.viewValue}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 searchbtn alrt">
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-raised mb-0">Search<div class="ripple-container"></div></button>
                            <button type="submit" (click)="clearSearch()" class="btn btn-raised btn-danger mb-0">Clear<div class="ripple-container"></div></button>
                        </div>

                        <!--<button mat-flat-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Create
    </button>

    <button (click)="simpleAlert()">
        alert
    </button>-->


                    </div>
                </div>
            </div>
            </form>
    </div>
</div>
