<div class="row headtitle">
    <div class="col-md-9">
        <h4>Document Management Storage and Retrieval</h4>
    </div>
</div>

<div class="row alogtop">
    <div class="col-md-6">
        <h5>Document Configuration</h5>
    </div>
    <div class="col-md-6 alrt">
        <button type="submit" class="btn btn-success bmd-btn-fab tblbtngap"><i class="material-icons editicon">add</i><div class="ripple-container"></div></button>
        <button type="submit" class="btn btn-primary bmd-btn-fab tblbtngap"><i class="material-icons editicon">edit</i><div class="ripple-container"></div></button>
    </div>
    <div class="col-md-12 padlr0">
        <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-md-12 bkglvl">
                    <table id="datatable-buttons" class="table table-responsive table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                        <thead>
                            <tr role="row">
                                <th rowspan="2" class="actwid">S.No.</th>
                                <th rowspan="2">Application</th>
                                <th rowspan="2">Module</th>
                                <th rowspan="2">Max Doc Size (KB)</th>
                                <th rowspan="2">Document Name</th>
                                <th colspan="2">Hot Storage</th>
                                <th colspan="2">Cold Storage</th>
                            </tr>

                            <tr>
                                <th>Value</th>
                                <th>Unit</th>
                                <th>Value</th>
                                <th>Unit</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="actwid"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <select class="form-control my-select">
                                        <option value="0">select</option>
                                    </select>
                                </td>
                                <td></td>
                                <td>
                                    <select class="form-control my-select">
                                        <option value="0">select</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row alogtop">
    <div class="col-md-12 alrt">
        <button type="submit" class="btn btn-primary btn-raised btn-default cntbtn mb-0">Save<div class="ripple-container"></div></button>
        <button type="submit" class="btn btn-danger btn-raised cntbtn mb-0">Cancel<div class="ripple-container"></div></button>
    </div>
</div>

<div class="row alogtop">
    <div class="col-md-6">
        <h5>Document Storage Details</h5>
    </div>
    <div class="col-md-12 padlr0">
        <div id="datatable-buttons_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-md-12 bkglvl">
                    <table id="datatable-buttons" class="table table-responsive table-striped table-bordered w-100 dataTable no-footer" role="grid" aria-describedby="datatable-buttons_info">
                        <thead>
                            <tr role="row">
                                <th class="actwid">UID</th>
                                <th>App</th>
                                <th>Module</th>
                                <th>Document</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>Size (KB)</th>
                                <th>Type</th>
                                <th>URL</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="actwid"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>