<div class="row headtitle">
    <div class="col-md-9">
        <h4>City Master</h4>
    </div>
    <div class="col-md-3 alrt">
        <button type="button" class="btn btn-success btn-raised bmd-btn-edit btntop" (click)="onBack()"><i class="material-icons editicon">reply</i><div class="ripple-container"></div></button>
    </div>
</div>
<form [formGroup]="cityForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="str">City  Code</label>
                        <input type="text" name="CityCode" autocomplete="off" id="txtCityCode" formControlName="CityCode" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">

                    <div class="col-md-12">
                        <label class="str">City Name</label>
                        <input type="text" name="CityName" autocomplete="off" id="txtCityName" formControlName="CityName" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">

                    <div class="col-md-12">
                        <label>Country </label>
                        <select class="form-control my-select" id="ddlCountryv" formControlName="CountryID" (ngModelChange)="CountryChanged()">
                            <option *ngFor="let gRow of dscountryItem" [value]="gRow.ID">
                                {{gRow.CountryName}}
                            </option>

                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>State Name</label>
                        <select class="form-control my-select" formControlName="StateID" id="ddlStatev">
                            <option *ngFor="let gRow of dsStateItem" [value]="gRow.ID"> {{gRow.StateName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12 ">
                        <label>Active</label>
                        <select class="form-control my-select" id="ddlStatus" formControlName="Status">
                            <option *ngFor="let status of statusvalues" [value]="status.value">
                                {{status.viewValue}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row alogtop">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 alrt">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-raised mb-0">Save</button>
        </div>
        <input type="hidden" id="HDRegId" ng-model="HDRegId" />
    </div>
</form>