<!--<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>-->
<!-- Loader -->
<!--<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>-->
<!--<div id="wrapper">
    <app-sidenav></app-sidenav>

    <div class="content-page">

        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper dashborad-v">
                <router-outlet></router-outlet>

            </div>

        </div>
        <footer class="footer">
            copyright 2022 Odak Solutions Pvt Ltd
        </footer>
    </div>
</div>-->

<router-outlet><app-spinner></app-spinner></router-outlet>

<!--<div id="wrapper">
    <app-sidenav></app-sidenav>

    <div class="content-page">

        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper dashborad-v">
                <router-outlet></router-outlet>

            </div>

        </div>

    </div>
</div>-->

